#cube {
  --face-size: 260px;
  --size: 1; /** set in javascript **/
  --unit: calc(var(--face-size) / var(--size));
  --gap: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--unit) * var(--size) * 1.414);
  height: calc(var(--unit) * var(--size) * 1.414);
  transform-style: preserve-3d;
}


.face {
  position: absolute;
  --zOffset: calc((var(--unit) * var(--size) + var(--gap) * (var(--size) - 1)) / 2)
}

#front  { transform:                                   translateZ(var(--zOffset)); }
#back   { transform: rotateY(180deg)                   translateZ(var(--zOffset)); }
#right  { transform: rotateY(90deg)                    translateZ(var(--zOffset)); }
#left   { transform: rotateY(-90deg)                   translateZ(var(--zOffset)); }
#top    { transform: rotateX(90deg)                    translateZ(var(--zOffset)); }
#down   { transform: rotateX(-90deg)  rotateZ(180deg)  translateZ(var(--zOffset)); }


.cellContainer {
  display: grid;
  gap: var(--gap);
  background-color: black;
  grid-template-columns: repeat(var(--size), var(--unit));
}

.cellContainer > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--unit);
  height: var(--unit);
  backface-visibility: inherit;
  font-size: 30px;
  color: #fff;
}

.blue   { background: blue;   }
.green  { background: green;  }
.red    { background: red;    }
.orange { background: orange; }
.yellow { background: yellow; }
.white  { background: white;  }
