#cube {
  --unit: 100px;
  --size: 2;
  --gap: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--unit) * var(--size) * 1.414);
  height: calc(var(--unit) * var(--size) * 1.414);
  transform-style: preserve-3d;
}

.face {
  display: grid;
  gap: var(--gap);
  background-color: black;
  grid-template-columns: repeat(var(--size), var(--unit));
  position: absolute;

  --zOffset: calc((var(--unit) * var(--size) + var(--gap)) / 2)
}
.face > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--unit);
  height: var(--unit);
  backface-visibility: inherit;
  font-size: 30px;
  color: #fff;
}

#front  { transform:                                   translateZ(var(--zOffset)); }
#back   { transform: rotateY(180deg)                   translateZ(var(--zOffset)); }
#right  { transform: rotateY(90deg)                    translateZ(var(--zOffset)); }
#left   { transform: rotateY(-90deg)                   translateZ(var(--zOffset)); }
#top    { transform: rotateX(90deg)                    translateZ(var(--zOffset)); }
#down   { transform: rotateX(-90deg)  rotateZ(180deg)  translateZ(var(--zOffset)); }

.blue   { background: blue;   }
.green  { background: green;  }
.red    { background: red;    }
.orange { background: orange; }
.yellow { background: yellow; }
.white  { background: white;  }


/* buttons */
.face > input {
  display: inline block;
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  color: black;
  font-size: 15px;
  opacity: 70%;

  --float: calc((var(--unit) - 1.5em) / 2)
}

input.ib_left   { left:   0%; }
input.ib_right  { right:  0%; }
input.ib_top    { top:    0%; }
input.ib_bottom { bottom: 0%; }

input.ib_left_f   { left:   var(--float); }
input.ib_right_f  { right:  var(--float); }
input.ib_top_f    { top:    var(--float); }
input.ib_bottom_f { bottom: var(--float); }
